<h1>Users</h1>

<button class="btn btn-success float-right" routerLink="register">Add</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">password</th>
        <th scope="col">Image</th>
        <th scope="col">name</th>
        <th scope="col">file</th>
        <th>update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users,let i = index">
        <td>{{i+1}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td> <img src="{{fileUrl+user.image}}" alt="{{user.name}}"> </td>
        <td>{{user.name}}</td>
        <td >{{user.file}}
          <audio >
            <source src="{{fileUrl+user.file}}" type="audio/mp3">
        </audio>
        </td>
        <td><a routerLink="update/{{user._id}}">update</a></td>
        <td><a (click)="delete(user._id)"> Delete</a></td>
      </tr>
    </tbody>
  </table>